


canvas{
  width: 200px;
  height: 60px;
}


footer{
  background-color: #014f8f;
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
}


progress {
  height: 100%;
  width: 100%;
}


button:focus {
  outline: none;
}

button > img{
  background-color: transparent;
  border: none;
  width:100%;
  height:100%;
}





#center{
  width:100%;
  height:100%;
}



#interim{
  border-radius: 15%;
  border: 2px solid #b6cadb;
  background-color: #eff8ff;
  font-size: 2vw;
  width: 40%;
  height: 16%;
}

#nextButton:active{
  background-color: rgb(0, 81, 128);
}


#prompt{
  display: none; 
}

#endMay{
  border: 3.5px double #023a68 ;
  display: none; 
}



.submit{
  background-color: #2196F3;
}









@media (orientation: portrait){


  body {
    width: 100%;
    font-size: 100%;
    font-family: sans-serif;


  }




  #recognize {
    width:60%;
    height:70%;
    background-color: transparent;
    border: none;

  }


  #nextButton{
    font-size: 5vw;
    background-color: rgb(121, 188, 250);
    width: 100%;
    height: 10vw;
    border-radius: 29%;
    border: 3px solid #124874;
  }




  #message {
    text-align: center;
    width: 25%;
    background-color: transparent;
    border-color: transparent;
  }

  #main{

    height: 80%;
    width: 96%;
    margin: 2%;
  }

  #settings{
    padding: 10px;
    border: 3px dashed #014f8f ;
    margin: 2%;

    width: 96%;
  }


}












@media (orientation: landscape) {

  * {
    box-sizing: border-box;
  }
  body {
    font-size: 100%;
    font-family: sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

  }

  




  #recognize {
    width:40%;
    height:34%;
    background-color: transparent;
    border: none;

  }



  #nextButton{
    font-size: 1.5vw;
    background-color: rgb(121, 188, 250);
    width: 45%;
    height: 8%;
    border-radius: 29%;
    border: 3px solid #124874;
  }



  #message {
    font-size: 1.5vw;
    width: 100%;
    text-align: center;
    background-color: transparent;
    border-color: transparent;
  }

  #main{
    height: 80%;
    width: 40%;
    float: right;
    margin-right: 30%;
  }

  #settings{
    padding: 1%;
    border: 3px dashed #014f8f ;
    margin-right: 2%;
    font-size: 1vw;
    height: 95%;
    float: right;
    width: 27%;
  }



}








  























/*====================================================================================================================================================*/

/* The switch - the box around the slider */
.switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";

height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}


/*=======================================================================================================================================================================*/
