{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">

	<meta property="og:title" content="проектний репозиторій"/>
	<meta property="og:image" content="{% static 'images/ms.jpg' %}"/>

	<title>галерея</title>
	<link rel="stylesheet" href="{% static 'css/menu.css' %}" />
	<link rel="icon" href="{% static 'icons/nuclear.png' %}">
</head>

<body>
<div class="sidenav">

	<h3 id="h">діючі</h3>
	<hr>

	<a href="/tests">тест на вимову</a>
	<br>
	<a href="articles">обчислювач</a>
</div>


<div class="main">

<h2 id="center">шкільні проекти</h2>


<h4>хімія</h4>
<ul>
	<li> 			
		<a href="chem1">3D Hydrocarbons</a>
	</li>			
</ul>


<h4>інформатика</h4>
<ul>
	<li> 			
		<a href="https://github.com/sfaleros/mathTest.git">Android App(in kotlin)</a>

		<ul>
			<li> 			
				<a href="APK">APK</a>
			</li>			
		</ul>
	</li>
	
	<br>

	<li> 			
		<a href="https://github.com/sfaleros/webProjectsPlatform.git">this site(on github)</a>

		<ul>
			<li> 			
				<a href="articles">counter</a>
			</li>
			
			<li> 			
				<a href="/tests">speech test</a>
			</li>
		</ul> 

	<br>	

	<li> 			
		<a href="https://drive.google.com/drive/folders/1uwr0FqX-E6jCE_1Bm77pinzWN-7jOu8U?usp=sharing">engReader</a>
	</li>

	</li>
</ul>


</div>
</body>
</html>