{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">

	<meta property="og:title" content="-cor-"/>
	<meta property="og:image" content="{% static 'images/ms.jpg' %}"/>

	<title>{% block title%}мій сайт{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'cor/s.css' %}" />
	<link rel="icon" href="{% static 'icons/nuclear.png' %}">

</head>
<body>
<div id="aut">

    <p></p>
    <input>.<input>

</div>
</body>
</html>